<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<div class="container">
		<!-- Nav Bar -->
		<nav>
			<div class="nav-wrapper">
				<a class="brand-logo" href="/">GoFridge</a>
				<ul class="right hide-on-med-and-down" id="nav-mobile">
					<li>
						<a href="/">Logout</a>
					</li>
					<li style="list-style: none">{{!--</li>
					<li>
						<a href="/userForm">Create Account</a>
					</li>
					<li style="list-style: none">--}}</li>
				</ul>
			</div>
		</nav>
		<div class="row myFridge-row">
		
		<table>
        <thead>
          <tr>
              <th data-field="id">ID</th>
              <th data-field="category">Category</th>
              <th data-field="name">Name</th>
							<th data-field="price">Price</th>
							<th data-field="refill">Refill</th>
							<th data-field="delete">Delete</th>
          </tr>
        </thead>

        <tbody>
					 {{#each myFridges}}
 
          <tr>
            <td>{{this.id}}</td>
            <td>{{this.category}}</td>
            <td>{{this.name}}</td>
						<td>{{this.price}}</td>
						<td>{{this.refill}}</td>
						<td><form action="member/delete/{{this.id}}?_method=DELETE" method="post">
              <input name="devoured" type="hidden" value="true"> <button class="delete-button" type="submit">Delete</button>
            </form></td>
          </tr>
          
         {{/each}}
				</tbody>

      </table>
		
		
		
		
		
		
			<div class="col s8">

				{{!--all the myfridge items--}} 

        {{!--{{#each myFridges}}
          <div class="myFridges">
            {{this.id}} {{this.category}} {{this.name}} {{this.price}} {{this.refill}}
          </div>
        {{/each}}
			</div>
			<div class="col s2">--}}

				{{!--updating myFridge items--}} 
{{!--
        {{#each myFridges}}
          <div>
            <form action="member/update/{{this.id}}?_method=PUT" method="post">
              <input name="devoured" type="hidden" value="true"> <button class="update-button" type="submit">Update</button>
            </form>
          </div>
        {{/each}}
			</div>
			<div class="col s2">--}}

				{{!--delete myFridge items--}} 

        {{!--{{#each myFridges}}
          <div>
            <form action="member/delete/{{this.id}}?_method=DELETE" method="post">
              <input name="devoured" type="hidden" value="true"> <button class="delete-button" type="submit">Delete</button>
            </form>
          </div>
        {{/each}}
			</div>--}}
		</div>
		<div class="row input-row">

			{{!--adding new myFridge items--}}
			<form action="member/add" class="col s12" id="submit-form" method="post" name="submit-form">
				<h5><font color="teal">Create a shopping item</font></h5>
				<div class="row">
					<div class="input-field col s12">
						<input class="validate" id="email" name="email" placeholder="example@email.com" type="email"> <label for="email"><font color="teal">Email</label>
					</div>
				</div>
        <div class="row">

						{{!--this is the dropdown menu for the catagory items--}}
						{{!--<div class="input-field col s6">--}}
						{{!--<a class='dropdown-button btn' href='#' data-activates='dropdown1'>Category</a>
						<ul id='dropdown1' class='dropdown-content'>
								<li><a href="#!">Bread</a></li>
								<li class="divider"></li>
								<li><a href="#!">Produce</a></li>
								<li class="divider"></li>
								<li><a href="#!">Dairy</a></li>
								<li class="divider"></li>
								<li><a href="#!">Home Care</a></li>

							</ul>
					</div>--}}
					<div class="input-field col s6">
						<input class="validate" id="myFridge-category" name="category" placeholder="Produce, Snacks, etc..." type="text"> <label for="myFridge-category"><font color="teal">Category</label>
					</div>
					<div class="input-field col s6">
						<input class="validate" id="myFridge-item" name="name" placeholder="Apples, Milk, etc..." type="text"> <label for="myFridge-item"><font color="teal">Item Name</font></label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6">
						<input class="validate" id="myFridge-price" name="price" placeholder="$" type="number"> <label for="myFridge-price"><font color="teal">Price</font></label>
					</div>
				</div>
			
					<div class="input-field col s6">
						<p> <label for="refill-date"><font color="teal">When do you need to buy again?</font></label></p>
						<br>
						<input class="datepicker" id="refill-date" name="refill" placeholder="Date MM-DD-YYYY" type="date"> 
					</div>
						<div class="row">
				</div><button class="btn waves-effect waves-light" name="action" type="submit">Submit <i class="material-icons right">send</i></button>
			</form>
		</div>
	</div>
 <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">GoFridge!</h5>
                <p class="grey-text text-lighten-4">Better manage your shopping experience.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Devs</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Tony</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Omar</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Bryant</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Eugene</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 Copyright
            <a class="grey-text text-lighten-4 right" href="https://github.com/Slicktone/GoFridge" target="_blank">github</a>
            </div>
          </div>
        </footer>
</body>
</html>